<header>
	<h1>Admin Panel</h1>
	<p>Add an employee and assign him a task</p>
	<a href='/'>Back to home page</a>

</header>

<h2>Workers list</h2>

<p>If you want to add a new worker, go to the adding worker form <a class="form-link" href='/admin/panel/add-worker'>here</a> </p>

<table class='worker-table table'>
	<tr>
		<th>ID</th>
		<th>Worker</th>
		<th>Machine</th>
		<th>Remove</th>
	</tr>

	{{#each workersList}}
		<tr>
			<td>{{showShortId this.id}}</td>
			<td>{{this.firstname}} {{this.lastname}}</td>
			<td>{{this.machine}}</td>
			<td><button>Delete</button></td>
		</tr>
	{{/each}}
</table>

<h2>Tasks list</h2>

<p>If you want to assign a task to worker, go to the adding task form <a class="form-link" href='/admin/panel/add-task'>here</a> </p>

<table class='task-table table'>
	<tr>
		{{!-- <th>Task ID</th> --}}
		<th>Current task</th>
		<th>Project name</th>
		<th>Processing status</th>
		<th>Processing stage</th>
		<th>Worker</th>
		<th>Update work</th>

	</tr>

	{{#each tasksList}}
		<tr>
			{{!-- <td>{{showShortId this.id}}</td> --}}
			<td>{{this.drawing}}</td>
			<td>{{this.project}}</td>
			<td>
				<select class='progress' name='progress'>
					{{#each ../progressStatuses}}
						<option value='{{this}}'>{{this}}</option>
					{{/each}}
				</select>
			</td>
			<td>
				<select class='steps' name='steps'>
					{{#each ../processSteps}}
						<option value='{{this}}'>{{this}}</option>
					{{/each}}
				</select>
			</td>
			<td>
				<select class='machine' name='machine'>
					{{#each ../workersList}}
						<option value='{{this.firstname}} {{this.lastname}}'>{{this.firstname}} {{this.lastname}}</option>
					{{/each}}
				</select>
			</td>
			<td><button>Save</button></td>
		</tr>
	{{/each}}

</table>