<div class='statement'>

	{{log }}
	

	{{#if (equals currentPath '/admin/panel/updatetask/')}}
		{{> go-admin-panel}}
		<p>The drawing: <strong>{{task.drawing}}</strong> of project: <strong>{{task.project}}</strong> was updated.</p>
	{{/if}}

	{{#if (equals currentPath '/worker/panel/updatetask/')}}
		{{> go-worker-panel}}
		<p>The drawing: <strong>{{task.drawing}}</strong> of project: <strong>{{task.project}}</strong> was updated.</p>
	{{/if}}

	{{#if (equals currentPath '/admin/panel/deleteworker/')}}
		{{> go-admin-panel}}
			<p>The user {{worker.firstname}} {{worker.lastname}} was deleted.</p>
	{{/if}}

	{{#if (equals currentPath '/admin/panel/deletetask/')}}
		{{> go-admin-panel}}
		<p>The task was deleted.</p>
	{{/if}}
	
	{{#if (equals currentPath '/support/contact/')}}		
		{{> go-support}}
		<p>Thank you <strong>{{user}}</strong> your message. We will answer them as soon as possible.</p>
	{{/if}}


</div>